:root {
    --tp-theme-color: #FFCF4E;
    --tp-primary-color: #073D30;
    --tp-secondary-color: #FE4E15;
    --tp-pink-color: #FF73AE;
   --tp-heading-color: #121018;
   --tp-body-color: #5A5860;
   --tp-footer-color: #ffffffb3;
   --tp-white-color: #f8f3e7;

}