@use "../utils/" as *;
*li{
  list-style: none;
}

.w-img {
  & img {
    width: 100%;
  }
}
.m-img {
  & img {
    max-width: 100%;
  }
}
img {
  max-width: 100%;
}

.fix {
  overflow: hidden;
}
.clear {
  clear: both;
}

.z-index-1 {
  z-index: 1;
  position: relative;
}
.z-index-2 {
  z-index: 2;
  position: relative;
}
.z-index-3 {
  z-index: 3;
  position: relative;
}

.z-index-11 {
  z-index: 11;
  position: relative;
}
.overflow-y-visible {
  overflow-x: hidden;
  overflow-y: visible;
}
.overflow-x-visible {
  overflow-x: visible;
  overflow-y: hidden;
}

.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}

// bg
.white-bg {
  background-color: white;
}
.green-bg {
  background-color: var(--tp-primary-color);
}
.yellow-bg {
  background-color: #FFCF4E;
}
.linear-bg {
  background: linear-gradient(90deg, rgba(136,104,16,0.1) 0%, rgba(249,245,233,0.1) 100%);


}
.ak-subtitle {
  color: #ff73ae;
  font-family: var(--tp-font-sub);
  font-size: 30px;
}
.ak-title {
  font-size: 60px;
  letter-spacing: -2.4px;
  font-weight: 700;
  line-height: 1;
  @media #{$xs} {
      font-size: 40px;
    }
}
.ak-pra-title {
  color: #5a5860;
  font-size: 18px;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.36px;
}

.fns {
  &-12 {
    font-size: 12px;
  }
  &-14 {
    font-size: 14px;
  }
  &-15 {
    font-size: 15px;
  }
  &-16 {
    font-size: 16px;
  }
  &-18 {
    font-size: 18px;
  }
  &-24 {
    font-size: 24px;
  }
  &-26 {
    font-size: 26px;
  }
  &-28 {
    font-size: 28px;
  }
  &-30 {
    font-size: 30px;
  }
  &-40 {
    font-size: 40px;
  }
  &-34 {
    font-size: 34px;
  }
  &-50 {
    font-size: 50px;
  }
  &-80 {
    font-size: 80px;
  }
  &-100 {
    font-size: 100px;
  }
  &-150 {
    font-size: 150px;
  }
}

.fnw {
  &-300 {
    font-weight: 300;
  }
  &-400 {
    font-weight: 400;
  }
  &-500 {
    font-weight: 500;
  }
  &-600 {
    font-weight: 600;
  }
  &-700 {
    font-weight: 700;
  }
}

// color
.clgreen {
  color: #073d30;
}
.clwhite {
  color: white;
}
.clgray {
  color: #454449;
}
.clgray-2 {
  color: #545258;
}
.clyellow {
  color: #FFCF4E;
}
.cltomatto {
  color: #FE4E15;
}
.clwhite-2 {
  color: #f8f3e7;
}


.br {
  &-6 {
    border-radius: 6px;
  }
  &-8 {
    border-radius: 8px;
  }
  &-12 {
    border-radius: 12px;
  }
  &-16 {
    border-radius: 16px;
  }
  &-20 {
    border-radius: 20px;
  }
  &-24 {
    border-radius: 24px;
  }
}

//overflow
.visible {
  overflow: visible;
}

.ml_25 {
  margin-left: -25px;
}

.footer-text-color {
  color: #ffffffb3;
}

.top{
  &-55{
    top: -55px;
  }
}

// container
.container{
  &-1424{
    max-width: 1424px;
  }
  &-1400{
    max-width: 1400px;
  }
  &-1430{
    max-width: 1430px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

// letter spacing
.lts-4{
  letter-spacing: -0.04em;
}
.lts-2{
  letter-spacing: -0.02em;
}
.lts-56{
  letter-spacing: -0.56px;
}

//
.h-6{
  height: 6px;
}

//line height
.lh{
  &-24{
    line-height: 24px;
  }
  &-1-6{
    line-height: 162%;
  }
  &-1-2{
    line-height: 125%;
  }
  &-1{
    line-height: 100%;
  }
  &-1-1{
    line-height: 110%;
  }
}

//font-family
.font{
  &-heading{
    font-family: var(--tp-font-heading);
  }
  &-libre{
    font-family: var(--tp-font-libre)
  }
  &-tillana{
    font-family: var(--tp-font-tillana)
  }
  &-inter{
    font-family: var(--tp-font-body)
  }
}