@use "../utils/" as *;

.w-img {
  & img {
    width: 100%;
  }
}
.m-img {
  & img {
    max-width: 100%;
  }
}
img {
  max-width: 100%;
}

.fix {
  overflow: hidden;
}
.clear {
  clear: both;
}

.z-index-1 {
  z-index: 1;
  position: relative;
}
.z-index-2 {
  z-index: 2;
  position: relative;
}
.z-index-3 {
  z-index: 3;
  position: relative;
}

.z-index-11 {
  z-index: 11;
  position: relative;
}
.overflow-y-visible {
  overflow-x: hidden;
  overflow-y: visible;
}
.overflow-x-visible {
  overflow-x: visible;
  overflow-y: hidden;
}

.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}

// bg
.white-bg {
  background-color: white;
}
.yellow-bg {
  background-color: #FFCF4E;
}
.ak-subtitle {
  color: #ff73ae;
  font-family: var(--tp-font-sub);
  font-size: 30px;
}
.ak-title {
  font-size: 60px;
  letter-spacing: -2.4px;
  @media #{$xs} {
      font-size: 40px;
    }
}
.ak-pra-title {
  color: #5a5860;
  font-size: 18px;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.36px;
}

.fns {
  &-14 {
    font-size: 14px;
  }
  &-15 {
    font-size: 15px;
  }
  &-16 {
    font-size: 16px;
  }
  &-18 {
    font-size: 18px;
  }
  &-26 {
    font-size: 26px;
  }
  &-34 {
    font-size: 34px;
  }
  &-50 {
    font-size: 50px;
  }
  &-80 {
    font-size: 80px;
  }
}

.fnw {
  &-300 {
    font-weight: 300;
  }
  &-400 {
    font-weight: 400;
  }
  &-500 {
    font-weight: 500;
  }
  &-600 {
    font-weight: 600;
  }
}

// color
.clgreen {
  color: #073d30;
}
.clwhite {
  color: white;
}
.clgray {
  color: #454449;
}

.br {
  &-12 {
    border-radius: 12px;
  }
  &-20 {
    border-radius: 20px;
  }
}

//overflow
.visible {
  overflow: visible;
}

.ml_25 {
  margin-left: -25px;
}

.footer-text-color {
  color: #ffffffb3;
}

.top{
  &-55{
    top: -55px;
  }
}

// container
.container{
  &-1424{
    max-width: 1424px;
  }
  &-1400{
    max-width: 1400px;
  }
}
