@use "../../utils/" as *;
.akabout {
  &-rotate-title {
    font-size: 130px;
    color: #e0deda;
    transform: rotate(90deg);
    top: 115px;
    right: -204px;
  }
  &-img {
    & img {
    }
  }
  &-number {
    bottom: 88px;
    right: -120px;
    &-img {
      & img {
      }
    }
    &-content {
      top: 50%;
      left: 0;
      right: 0;
      text-align: right;
      transform: translateY(-50%);
      margin-right: 65px;
      margin-left: 50px;

      & h3 {
        color: #f8f3e7;
        font-size: 90px;
        font-weight: 700;
        margin: 0;
      }
      & h6 {
        color: #f8f3e7;
        font-size: 15px;

        text-align: right;
        letter-spacing: 0;
      }
    }
  }
  &-info {
    & p {
      font-size: 18px;
      line-height: 30px; /* 166.667% */
      letter-spacing: -0.36px;
    }
  }
  &-fact {
    border-radius: 12px;
    background: #fff;
    padding: 17px 0 17px 10px;
    &-content {
      & h4 {
        margin: 0;
      }
      & p {
        margin: 0;
      }
    }
    &-multihand {
      top: -55px;
      left: -40px;
      mix-blend-mode: multiply;
      & img {
        width: 100%;
      }
    }
  }
  &-wood {
    top: -90px;
    right: -120%;
  }
  &-hand{
    mix-blend-mode: exclusion;
     left: -46%;
    top: 25%;
  }
}
