@use "../../utils/" as *;
.akblog {
  &-title {
    @media #{$lg} {
      font-size: 30px;
    }
  }

  &-shape {
    bottom: 0;
    height: 920px;
    width: 40%;
    left: 0;
    @media #{$lg} {
      display: none;
    }
    & img {
      height: 100%;
      width: 100%;
    }
  }
  &-donate {
    &-content {
      margin-left: 3px;
    }
    &-box {
      margin-left: 130px;
    }
  }
  &-img {
    @media #{$lg} {
      margin-right: 20px;
    }
    & a {
      & img {
        height: 100%;
        object-fit: cover; // ইমেজ কেটে ফ্রেমে ফিট করাবে
        display: block;
      }
    }
  }
  &-wrapper {
    width: 100%;
    margin: 0 auto;
  }
  &-date {
    color: #454449;
    letter-spacing: -0.16px;
  }
  &-content {
    margin-left: -15px;
  }
}
