@use "../../utils/" as *;
.akblog {

  &-title {
    @media #{$lg} {
      font-size: 60px;
    }
    @media #{$md,$xs} {
      font-size: 60px;
      margin-bottom: 60px;
    }
  }

  &-shape {
    bottom: 0;
    height: 920px;
    width: 40%;
    left: 0;
    @media #{$xs} {
      height: 550px;
      width: 100%;
    }
    @media #{$lg,$md} {
      height: 750px;
      width: 100%;
    }

    @media #{$xs,$lg,$md} {
      position: static;
    }
    & img {
      height: 100%;
      width: 100%;
    }
  }
  &-donate {
    
    &-content {
      margin-left: 3px;
      @media #{$xs} {
       margin-top: 60px;
      }
    }
    &-title {
      @media #{$md,$xs} {
        font-size: 40px;
      }
    }
    &-box {
      margin-left: 130px;
      @media #{$lg,$md,$xs} {
        margin-left: 0;
      }
    }
  }
  &-img {
    @media #{$lg} {
      margin-right: 20px;
    }
    @media #{$md} {
      margin-right: 20px;
      margin-top: 40px;
    }
    @media #{$xs} {
      margin-right: 20px;
    }
    & a {
      & img {
        height: 100%;
        object-fit: cover; // ইমেজ কেটে ফ্রেমে ফিট করাবে
        display: block;
      }
    }
  }
  &-wrapper {
    width: 100%;
    margin: 0 auto;
  }
  &-date {
    color: #454449;
    letter-spacing: -0.16px;
  }
  &-content {
    margin-left: -15px;
     @media #{$xs} {
      margin-left: 0;
      margin-top: 16px;
    }
  }
   
}
