@use "../../utils/" as *;

.akbrand {
  &-area {
     @media #{$xs} {
       padding-top: 60px;
      }
  }
  &-title {
  }
  &-img {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
    }
  }
}

.akbrandslider{
  &-wrapper{
    border-top: 1px solid  rgba(18, 16, 24, 0.10);
    border-bottom: 1px solid  rgba(18, 16, 24, 0.10);
  }
}
