@use "../../utils/" as *;
.akcauses {
  &-label {
    color: #121018;
    font-size: 13px;
    font-weight: 600;
    line-height: 1; /* 492.308% */
    background: var(--tp-theme-color);
    padding: 9px 7px;
    border-radius: 6px;
    position: relative;
    transform: translateX(-90%);
    &:before {
      content: "";
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: var(--tp-theme-color) transparent transparent transparent;
      transform: rotate(0deg);
      bottom: -4px;
      left: 0;
      right: 0;
      margin: auto;
      position: absolute;
      
    }
  }
  &-care {
    font-size: 280px;
    font-weight: 600;
    line-height: 64px; /* 22.857% */
    letter-spacing: -11.2px;
    background: linear-gradient(179deg, #e0deda 39.13%, #f2f0ec 85.12%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    top: -55px;
    left: -5px;
    height: 100%;
  }

  &-content {
    height: 100%;
    &-uppercontent {
    }
    & h3 {
      font-size: 30px;
      font-weight: 600;
      letter-spacing: -1.2px;
    }
  }
  &-supporters {
    & img {
    }
    & span {
      color: #85838b;
      font-size: 14px;
      letter-spacing: -0.28px;
    }
  }
  &-wrapper {
    padding: 15px;
    background: #fff;
    box-shadow: 0px 36px 16px -24px rgba(18, 16, 24, 0.08);
    &-img {
    }
  }
  &-goals{
color: #56605D;
font-size: 15px;

  }
  &-amount{
color: var(--tp-heading-color);
font-weight: 600;
letter-spacing: -0.36px;
  }
}

.progress,
.progress-stacked {
  --bs-progress-height: 8px;
  --bs-progress-bg: rgba(18, 16, 24, 0.1);
  --bs-progress-bar-color: #fff;
  --bs-progress-bar-bg: #ffcf4e;
  border-radius: 6px;
}

.swiper.akcauses-slider.swiper-initialized.swiper-horizontal.swiper-free-mode.swiper-backface-hidden {
    margin-right: -610px;
}
