@use "../../utils/" as *;
.akevent {
  &-title {
    @media #{$md,$xs} {
      
      margin-bottom: 60px;
    }
  }
  &-img {
    bottom: 25px;
    left: 0;
    height: 340px;
    width: 39%;
    @media #{$lg} {
      width: 32%;
    }
    @media #{$md,$xs} {
      position: static;
      width: 100%;
      margin-bottom: 60px;
      height: 100%;
    }

    & img {
      border-radius: 0px 20px 20px 0px;
    }
  }
  &-wrapper {
    border: 1px solid white;
    margin-bottom: 12px;
  }
  &-date {
    border-right: 1px solid rgba(18, 16, 24, 0.1);
  }
  &-day {
    color: #121018;
    font-family: var(--tp-heading-color);
    font-size: 34px;
    font-weight: 700;
  }
  &-wrapper {
    padding: 25px;
  }
  &-content {
    & h5 {
      font-size: 20px;
    }
  }
  &-item {
    @media #{$xs} {
      margin-right: 0;
    }
  }
}
