@use "../../utils/" as *;
.akfact {
  &-pra {
    color: #454449;
  }
  &-title {
    line-height: 1;
    font-weight: 400;
  }
  &-info {
    border-left: 2px solid #ffcf4e;
    @media #{$lg,$md} {
      width: 50%;
    }
  }
}
