@use "../../utils/" as *;
.akservices2{
    &-box{
        padding: 44px 40px;
    }
    &-pra{
        line-height: 150%;
    }
    &-money{
        color: var(--tp-primary-color);
        &-img{
            margin-top: -12px;
        }
    }
}