@use "../../utils/" as *;
.akservices {
  margin-top: -140px;
  border-radius: 16px 16px 0px 0px;
  padding: 50px 10px 37px;
  border-bottom: 4px solid #f55;
  transition: all 0.3s;
  &:hover {
    transform: translateY(-10px);
    box-shadow: 0px 20px 60px 0px rgba(41, 28, 3, 0.10);
  }
  &-img {
  }
  &-content {
    &-title {
    }
  }
}
