@use '../utils/' as *;
.ak-btn{
    background: var(--tp-theme-color);
   padding: 16px 30px;
   border-radius: 12px;
   color: var(--tp-font-color);
   font-weight: 600;
   &-white{
background-color: white;
padding: 16px 30px;
   border-radius: 12px;
   color: var(--tp-font-color);
   font-weight: 600;
   }
}

.text-btn{
   font-size: 15px;
   color: #56605D;
}