@use "../../utils/" as *;

.akfooter {
  &-widget {
    &-3 {
      @media #{$md,$xs} {
        margin-left: 0;
      }
    }
  }
  &-title {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
  }
  &-link {
    & li {
      list-style: none;
      margin-bottom: 5px;
      & a {
        color: var(--tp-footer-color);
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
  &-pra {
    color: #fff;
    font-family: var(--tp-font-heading);
    font-size: 26px;
    font-weight: 300;
    line-height: 34px; /* 130.769% */
    letter-spacing: -0.52px;
  }
  &-social {
    width: 44px;
    height: 44px;
    background: #fff;
    border-radius: 12px;
    display: inline-block;
    text-align: center;
    line-height: 2.5;
    margin-right: 2px;
  }
  &-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    top: 0;
    left: 0;
    z-index: 1;
  }
  &-mail,
  &-tel {
    & a {
      color: #fff !important;
      font-size: 18px !important;
      font-weight: 600 !important;
      display: inline-block;
      transition: all 0.3s ease;
      &:hover {
        color: #00c897 !important; /* সুন্দর হাইলাইট কালার */
        text-decoration: underline;
      }
    }
  }
  &-border {
    border-top: 1px solid rgba(248, 243, 231, 0.06);
  }
  &-copyright {
    letter-spacing: -0.36px;
    & h6 {
      .akfooter-themepure {
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          color: #00c897;
        }
      }
    }
  }
  &-shape {
    top: -35px;
  }
}

/* Color overlay */
.akfooter-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(7, 61, 48, 0.9); /* opacity here */
  z-index: 2;
}

.akfooter2 {
  &-ml30 {
    margin-left: -30px;
  }
  &-widget {
    &-4 {
      margin-left: -30px;
    }
  }
  &-contact {
    & ul {
      & li {
        margin-bottom: 10px;
      }
    }
    &-info {
      color: #f8f3e7;
      font-size: 16px;
      font-weight: 600;
      line-height: 144%;
    }
  }
  &-pra {
    line-height: 131%;
  }
  &-social {
    & a {
      background-color: #fff;
      width: 44px;
      height: 44px;
      display: inline-block;
      margin-right: 3px;
      border-radius: 12px;
      line-height: 2.3;
      text-align: center;
    }
  }
  &-link {
    & ul {
      & li {
        list-style: none;
        transition: all 0.3s;
        &:hover > a {
          color: #fff;
        }
        & a {
          color: rgba(248, 243, 231, 0.6);
          font-size: 16px;
          font-weight: 500;
          line-height: 212%;
        }
      }
    }
  }
  &-gallery {
    display: grid;
    grid-template-columns: auto auto;
    gap: 9px;
    margin-top: 33px;
    margin-left: -30px;
    & a {
      & img {
        border-radius: 12px;
      }
    }
  }
  &-border {
    &-top {
      border-top: 1px solid rgba(248, 243, 231, 0.06);
    }
  }
  &-shape {
    &-bg {
    }
  }
}
