@use "../../utils/" as *;
.akheader {
  &-bars {
    font-size: 30px;
    padding-right: 20px;
  }
  &-box {
    top: 26px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  &-menu {
    & li {
      &:hover > .sub-menu {
        opacity: 1;
        display: block;
        top: 102%;
      }
      &:hover > a {
        color: var(--tp-theme-color);
      }
      display: inline-block;
      list-style: none;
      padding: 21px 0;
      margin-right: 35px;
      cursor: pointer;
      position: relative;
      transition: all 0.3s;
      & a {
        color: var(--tp-primary-color);
        text-align: center;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
  &-tel {
    & a {
      color: var(--tp-primary-color);
      font-size: 15px;
      font-weight: 600;
    }
  }
  &-btn {
    color: var(--tp-primary-color);
    font-size: 16px;
    font-weight: 600;
  }
}

.sub-menu {
  opacity: 0;
  transition: all 0.3s;
  display: none;
  z-index: 1111;
  background-color: var(--tp-primary-color);
  width: 220px;
  position: absolute;
  padding: 20px;
  & li {
    display: block;
    left: 0;
    top: 100%;
    margin-bottom: 20px;
    padding: 0;
    & a {
      color: white;
    }
  }
}
.akheader {
  &-full {
    &-contact {
      background-color: #055c4d;
      padding: 11px 0;
    }
    &-triangle {
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 120px 0 0 90px;
      border-color: transparent transparent transparent #055c4d;
      transform: rotate(0deg);
      right: -40%;
      top: 0;
    }
    &-shape {
      width: 6px;
      height: 123%;
      background-color: #ffcf4e;
      top: 0;
      right: -5%;
      transform: rotate(-34deg);
      transform-origin: top right;
    }
    &-dvir {
      margin: 0 22px;
      width: 1px;
      height: 20px;
      background-color: #ffffff33;
      display: inline-block;
    }
    &-area {
      display: flex;
    }
    &-left {
      width: 226px;
      flex: 0 0 auto;
      background-color: #055c4d;
      display: flex;
      align-items: center;
      justify-content: center;
      & img {
        padding: 40px 0;
      }
    }
    &-middle {
      width: 100%;
    }
    &-right {
      width: 226px;
      flex: 0 0 auto;
      background-color: #055c4d;
    }
  }
}
.akheader-full-right {
  position: relative;
  width: 226px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.akheader-full-right .overlay-text {
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  text-align: center;
}
